*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection{
  background-color: #EF7D7D;
  color: #fff;
}


html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}

body {
  font-family: "Geist", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}