/* RESPONSIVE */

@media only screen and (max-width: 580px){
    header .primary-nav ul {
        gap: 25px;
    }

    .banner {
        height: 300px;
    }

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .about-section {
        padding: 40px 0;
    }

    .about-section p {
        max-width: 100%;
    }

    .our-products-section{
        padding: 40px 0;
    }

    .product-cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px){
    header {
        padding: 20px 0;
    }


    header .container{
        flex-direction: column;
        gap: 15px;
    }

    .about-section h1 {
        font-size: 28px;
        padding: 0 0 27px 0;
        margin: 0px 0 18px 0;
    }

    .about-section p {
        font-size: 16px;
    }

    .our-products-section h2 {
        font-size: 28px;
    }

    .product-cards-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 350px){
    header .primary-nav ul {
        gap: 17px;
    }
}