@import url('./reset.css');

.container {
  width: min(1170px, 100%);
  padding-inline: 15px;
  margin-inline: auto;
}

/* HEADER START */
header {
  background-color: #EF7D7D;
  padding: 25px 0;
  margin: 0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-block{
  width: 50px;
}


header .primary-nav {
  padding: 0;
  margin: 0;
}

header .primary-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

header .primary-nav ul li {
  padding: 0;
  margin: 0;
}

header .primary-nav ul li a {
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

header .primary-nav ul li a:hover {
  color: #000000;
}

/* BANNER START */
.banner {
  margin: 0;
  padding: 0;

}

.banner img {
  max-width: 100%;
  height: auto;
}

/* ABOUT SECTION */
.about-section {
  background-color: #fff;
  text-align: center;
  padding: 85px 0;
  margin: 0;
}

.about-section h1 {
  font-family: inherit;
  font-size: 35px;
  color: #262626;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  background-image: url('../images/design-element.png');
  background-repeat: no-repeat;
  background-position: center bottom; 
  background-size: auto;
  padding: 0 0 50px 0;
  margin: 0 0 30px 0;
}

.about-section p{
  max-width: 62%;
  font-family: inherit;
  font-size: 20px;
  color: #262626;
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
}

/*  */
.our-products-section{
  background-color: #fff8eb;
  padding: 80px 0;
  margin: 0;
}

.our-products-section h2{
  font-family: inherit;
  font-size: 35px;
  color: #262626;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-image: url('../images/design-element.png');
  background-repeat: no-repeat;
  background-position: center bottom; 
  background-size: auto;
  padding: 0 0 50px 0;
  margin: 0 0 30px 0;
}

.product-cards-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 30px
}

.product-cards-grid .card{
  border: 1px solid #ececec;
  background-color: #fff;
  padding: 10px;
}



/* FOOTER START */
footer{
  background-color: #000000;
  padding: 20px 0;
  margin: 0;
}

footer .social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

footer .social-links li{
  padding: 0;
  margin: 0;
}

footer .social-links li a{
  width: 40px;
  height: 40px;
  color: #000;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
}


